/**
 *  Lib SimplePie css
 */
 
div.simplepie {
    color: #990000;
    font-size:12px !important;
    line-height: 1.5em !important;
}

div.header {
    margin-bottom: 32px;
}

div.feeder {
	display: block;
	max-width: 100% !important;
	padding: 12px;
	margin: 20px;
	background-color: transparent;
}

p.item_desc { margin-bottom: 34px !important; }

p.header_description { display:none !important; }